<div class="container">
  <div class="product-container">
    <div class="product-header">
      <h1>
        <%= @product.name %>
      </h1>

      <div class="review-row">
        <div class="d-flex">
          <h2 class="m-0" style="padding-right: 8px;">
            <%= number_with_precision(@product.rating, precision: 2) %>
          </h2>
          <%= render partial: "shared/stars", locals: { custom_id: "total_score", rating: @product.rating.round.to_i } %>
        </div>
        <div>
          <button class="btn__primary" onclick="openCreateReviewOverlay()">
            Add review
          </button>
        </div>
      </div>
    </div>

    <div class="product-bottom">
      <div class="divider"></div>

      <h3 class="m-0" style="padding-bottom: 8px;">Reviews</h3>

      <div class="reviews__container">
        <% @product.reviews.order(created_at: :desc).each do |review| %>
          <%= render partial: "shared/stars", locals: { review: review } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "create_review", locals: { product_id: @product.id } %>
